In [2]:

def getMonth(m):
    if m<1 or m>12:
        raise ValueError("Invalid")
    print(m)
getMonth(6)

6

In [3]:
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)

2

In [4]:
x = lambda a : a + 10
print(x(5))

15

In [5]:
def change(*two):
   print(type(two))
change(1,2,3,4)

<class 'tuple'>

In [6]:
shark_letters = [letter for letter in 'shark']
print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [7]:
areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
result = list(map(round, areas, range(1,7)))
print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [9]:
class A:

SyntaxError: unexpected EOF while parsing (<ipython-input-9-8b4a7a3a5b1d>, line 1)

In [14]:
example='hello' 
a=example.replace('l','e')
print(a)

heeeo

In [15]:
import numpy as np

ary = np.array([10,20,30,40])

ary = ary + 1

print (ary[1])

21

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
data = pd.read_csv('students_pperformance_classification.csv')
data.head()

    Studied     Slept  Passed
0  4.855064  9.639962       1
1  8.625440  0.058927       0
2  3.828192  0.723199       0
3  7.150955  3.899420       1
4  6.477900  8.198181       1

In [18]:
correlation=data.corr()
correlation

          Studied     Slept    Passed
Studied  1.000000 -0.154202  0.602851
Slept   -0.154202  1.000000  0.371528
Passed   0.602851  0.371528  1.000000